@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;

}

/* Variáveis de cores */
:root { 
    --bg-color: #F9FAFB;
    --snd-bg-color: #1E293B;
    --main-color: #3B82F6;
    --snd-main-color: #06B6D4;
    --elements: #E2E8F0;

    --text-color: ##1E293B;
}

html {
    font-size: 62,5%;
    overflow-x: hidden; /* Conteúdo horizontal que ultrapassa a área da página será escondido */
}


body {
    font-family: 'Inter', sans-serif;
    background: var(--bg-color);
    color: var(--text-color);
    scroll-behavior: smooth;
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

span{
    color: var(--main-color);
}
